<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title><%= users %></title>
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
<h1><%= users[0].name %></h1>
<p> <%= users[0].desc %></p>

<h1><%= users[1].name %></h1>
<p> <%= users[1].desc %></p>
</body>
</html>
